@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear:wght@400;700&display=swap');

:root {
    --mainTextColor-light: #000000;
    --secondaryTextColor-light:  #131419;
    --mainLinkColor-light: #0da2b8;
    --mainBorderColor-light: rgb(218, 218, 218);
    --mainBgColor-light: #e0e5ec;
    --mainCardColor-dark: #f5f5f5;

    --mainTextColor-dark: #dcdcdc;
    --secondaryTextColor-dark: #e0e5ec;
    --mainLinkColor-dark: rgb(30, 190, 214);
    --mainBorderColor-dark: #2b3031;
    --mainBgColor-dark: #1e1f22;
    /* --mainBgColor-dark: #dde1e7; */
    --mainCardColor-dark: #000;


    --card-shadow-light1: rgba(255, 255, 255, 0.45);
    --card-shadow-light2: rgba(172, 172, 172, 0.3);
    
    --card-shadow-dark1: rgba(0, 0, 0, 0.8);
    --card-shadow-dark2: rgba(80, 80, 80, 0.3);


    --mainTextColor: var(--mainTextColor-dark);
    --secondaryTextColor: var(--mainTextColor-dark);
    --mainLinkColor: var(--mainLinkColor-dark);
    --mainBorderColor: var(--mainBorderColor-dark);
    --mainBgColor: var(--mainBgColor-dark);
    --themeOppoColor: var(--mainTextColor-dark);
    --mainCardColor: var(--mainCardColor-dark);
    --cardShadowColor1: var(--card-shadow-dark1);
    --cardShadowColor2: var(--card-shadow-dark2);
    --neomorphicCardBg: var(--mainBgColor);

    /* --mainTextColor: var(--mainTextColor-light);
    --secondaryTextColor: var(--secondaryTextColor-light);
    --mainLinkColor: var(--mainLinkColor-light);
    --mainBorderColor: var(--mainBorderColor-light);
    --mainBgColor: var(--mainBgColor-light);
    --themeOppoColor: var(--mainTextColor-dark);
    --mainCardColor: var(--mainCardColor-dark);
    --cardShadowColor1: var(--card-shadow-light1);
    --cardShadowColor2: var(--card-shadow-light2);
    --neomorphicCardBg: var(--secondaryTextColor-dark); */

}

.white-mode {
    --mainTextColor: var(--mainTextColor-light);
    --secondaryTextColor: var(--secondaryTextColor-light);
    --mainLinkColor: var(--mainLinkColor-light);
    --mainBorderColor: var(--mainBorderColor-light);
    --mainBgColor: var(--mainBgColor-light);
    --themeOppoColor: var(--mainTextColor-dark);
    --mainCardColor: var(--mainCardColor-dark);
    --cardShadowColor1: var(--card-shadow-light1);
    --cardShadowColor2: var(--card-shadow-light2);
    --neomorphicCardBg: var(--mainBgColor);

}


.dark-mode {
    --mainTextColor: var(--mainTextColor-dark);
    --secondaryTextColor: var(--secondaryTextColor-dark);
    --mainLinkColor: var(--mainLinkColor-dark);
    --mainBorderColor: var(--mainBorderColor-dark);
    --mainBgColor: var(--mainBgColor-dark);
    --themeOppoColor: var(--mainTextColor-dark);
    --mainCardColor: var(--mainCardColor-dark);
    --cardShadowColor1: var(--card-shadow-light1);
    --cardShadowColor2: var(--card-shadow-light2);
    --neomorphicCardBg: var(--mainBgColor);
}


* {
    font-family: 'Preahvihear';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);

}

body {
    background-color: var(--mainBgColor);
}

p,
span,
li {
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a {
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li {
    line-height: 1.9em;
}

#container--main {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

.section--page {
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero {
    display: flex;
    align-items: center;
    gap: 2em;
}

#bio,
a {
    font-weight: 300;
}

#user-name {
    font-size: 48px;
    line-height: 1em;
    margin-bottom: 4px;
}

#profile-pic1 {
    padding: 14px;
    position: absolute;
    width: 385px;
    height: 431px;
    left: 385px;
    top: 220px;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
}

#profile-pic {
    padding: 14px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

#project-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20%;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
}

#email {
    color: var(--mainTextColor);
}


#toggle-button {
    color: var(--themeOppoColor);
}

#socials--list {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a {
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover {
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
}

#qualifications--list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}


.coding-font {
    font-family: IBM Plex Mono;
    /* font-family: 'Times New Roman', Times, serif; */
}

.card--project {
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a {
    color: var(--mainTextColor);

    transition: 0.3s;
}

.card--project a:hover {
    color: rgb(30, 190, 214);

}

.card--work-history {
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break {
    background-color: var(--mainBorderColor);
    height: 1px;
}

.simple-card {
    flex: 0 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #100d0d;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.card-container {
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

/* Style for each individual card */
.card {
    flex: 0 0 auto;
    width: 200px;
    /* Adjust the width as needed */
    margin-right: 10px;
    /* Spacing between cards */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for each individual card */
.screenshot {
    flex: 0 0 auto;
    width: 200px;
    /* Adjust the width as needed */
    margin-right: 10px;
    /* Spacing between cards */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the card image */
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Style for card content */
.card-content {
    padding: 10px;
}

@media(max-width:600px) {

    .section--page {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero {
        display: flex;
        align-items: start;
        gap: 1em;
    }

    #profile-pic {
        padding: 14px;
        width: 180px;
        height: 180px;
    }

    #wrapper--hero {
        flex-direction: column;
    }

    .card--work-history {
        border-left: none;
        padding-left: 0;
    }
}


p,
h1 {
    margin: 0px;
    padding: 0px;
    color: black;
}


h1.page-header {
    margin: 0;
    padding: 0;
    color: black;
}

h3 {
    margin: 0px;
    padding: 0px;
    color: black;
}

h3.page-header {
    margin: 0;
    padding: 0;
}

.jetbrains-mono-normal {
    font-family: IBM Plex Mono;
    /* font-family: "JetBrains Mono", monospace; */
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
}

.grid-container {
    grid-template-columns: auto auto;
}


.work-history-container {
    justify-content: center;
    gap: 10px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 14px;
    margin-right: 12px;
    margin-bottom: 12px;
    text-align: start;
}

/* Project Section */
.container {
    display: flex;
    justify-content: center;
    height: 220px;
}

.cardItem {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    text-align: start;
    /* transition: all 500ms ease-in-out; */
    background-color: (--mainCardColor-dark);
}

/* .cardItem:hover {
    margin-top: 40px;
    /* cursor: pointer; */
/*  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    /* transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1); } 
  */
.cardLabel {
    margin-top: 24px;
    width: 100%;
    font-size: 16px;
    display: block;
}

.material-icons {
    font-size: 64px;
    margin-top: 24px;
    color: #1ab5ad;
}


.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--mainBgColor);
}

.workExperienceCard {
    background-image: url("./assets/images/experience.svg");
}

.svg-container {
    position: relative;
    width: max-content;
    height: fit-content;
}

.svg-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.skill-item-container {
    display: flex;
    /* Flexbox to align horizontally */
    justify-content: center;
    /* Distributes space between the divs */
    gap: 10px;
    /* Optional: Space between the divs */
    margin-bottom: 20px;
}

.circle-container {
    width: 44px;
    height: 44px;
    border-radius: 10%;
    background-color: #251C31;
    /* Background color of the circle */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.circle-container img {
    width: 80%;
    /* Adjust image size */
    height: auto;
    border-radius: 50%;
    /* Make image inside the circle */
}

.centered-container {
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -5px -5px 9px var(--cardShadowColor1), 5px 5px 9px var(--cardShadowColor2);
}

.align-start-container {
    color: white;
    background: var(--neomorphicCardBg);
    text-align: s;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: -5px -5px 9px var(--cardShadowColor1), 5px 5px 9px var(--cardShadowColor2);
}

.centered-text {
    background-color: var(--mainBgColor);
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.green-text {
    color: green;
}

.white-text {
    color: rgb(255, 255, 255);
}

.violet-text {
    color: #A362FF;
}

.black-text {
    color: var(--mainTextColor);
}


.main-text-reverse {
    color: var(--mainTextColor);
}

skills-body {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    padding-top: 10px;
    justify-content: start;
    align-items: start;
}

skills-body-div {
    height: 50px;
    justify-content: center;
    width: 50px;
    background: var(--neomorphicCardBg);
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

social-body {
    display: flex;
    justify-content: start;
    align-items: start;
}

social-body-div {
    height: 50px;
    width: 50px;
    background: var(--neomorphicCardBg);
    border-radius: 10px;
    margin-right: 10px;
}
.box-image-no-padding {
    width: 50px;
    height: 50px;
    justify-content: center;
}
.box img {
    width: 50px;
    height: 50px;
    padding: 8px;
    justify-content: center;
    /* centers horizontally */
    /* Make image inside the circle */
}

.card--techstack {
    /* border: 1px solid var(--mainBorderColor); */
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
    background: var(--neomorphicCardBg);
    box-shadow: -5px -5px 9px var(--cardShadowColor1), 5px 5px 9px var(--cardShadowColor2);

}

.box {
    justify-content: center;
    /* centers horizontally */
    align-items: center;
    box-shadow: -5px -5px 9px var(--cardShadowColor1), 5px 5px 9px var(--cardShadowColor2);
}

.box2 {
    box-shadow: inset -5px -5px 9px var(--cardShadowColor1), inset 5px 5px 9px var(--cardShadowColor2);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -5px -5px 9px var(--cardShadowColor1), 5px 5px 9px var(--cardShadowColor2);
}

.circle::after {
    content: '';
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: inset -5px -5px 9px var(--cardShadowColor1), inset 5px 5px 9px var(--cardShadowColor2);
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    max-height: 3em;
    /* Adjust based on line height */
}


.project-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    /* Limit to 2 lines */
    line-height: 1.5em;
    /* Set line height */
}



profile-pic-body {
	display: flex;
	width: 150px;
	height: 150px;
	overflow: hidden;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
profile-pic-body-section.light,
section.dark {
	display: flex;
	width: 150px;
	height: 150px;
	align-items: center;
	justify-content: space-around;
}
profile-pic-body-section.light {
	background-color: var(--mainBgColor);
}
profile-pic-body-section.dark {
	background-color: var(--mainBgColor);
}
profile-pic-body-div.circle,
profile-pic-body-div.circle_black {
	position: relative;
	display: flex;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	align-items: center;
	justify-content: center;
}
profile-pic-body-div.circle:before,
profile-pic-body-div.circle_black:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 150px;
	height: 150px;
	content: " ";
	cursor: pointer;
	transition: 0.3s ease-out;
	border-radius: 150px;
	filter: blur(7px);
}
profile-pic-body-div.circle.long,
profile-pic-body-div.circle_black.long {
	width: 250px;
	height: 100px;
}
profile-pic-body-div.circle.long:before,
profile-pic-body-div.circle_black.long:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 250px;
	height: 100px;
}
profile-pic-body-div.circle:before {
	box-shadow: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff;
}
profile-pic-body-div.circle_black:before {
	box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5),
		-8px -8px 20px rgba(255, 255, 255, 0.2);
}
profile-pic-body-div.circle p,
profile-pic-body-div.circle_black p {
	position: relative;
	z-index: 5;
	user-select: none;
	cursor: pointer;
}
profile-pic-body-div.circle_black {
	color: white;
}
@media (max-width: 700px) {
	profile-pic-body {
		height: auto;
		flex-direction: column;
	}
	profile-pic-body-section.light,
	profile-pic-body-section.dark {
		width: 150px;
		height: 150px;
	}
}